//Colores
$snow: #FAFAFA;
$Raisin-black: #222323;
$quick-silver: #A0A0A0;
$jelly-bean: #e56353;
$salmon: #E97F72;
$pastel-pink: #F0A9A1;
$white: #fff;
$granite-gray: #686963;
$taupe-gray: #91918D;
$gray: #BABAB8;


//Tipografias
$font-family: 'Raleway', sans-serif;

$regular: 400;
$ligth: 300;
$bold: 700;


//font-sizes
$xx-large: 70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 12px;